<!-- Wrapper -->
<div id="wrapper">
    <!-- Header Container
================================================== -->
  <%= render "layouts/header_top" %>
  <%= render "header" %>
  <%= render "pitch" %>
  <%= render "how_it_works" %>
  <%= render "bottom_info" %>
  <%= render "layouts/footer" %>
  <div id="backtotop">
    <a href="#"></a>
  </div>
</div>
<!-- Wrapper / End -->

<script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/js/chosen.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/waypoints.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/tooltips.min.js"></script>
<script type="text/javascript" src="/js/custom.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="/js/maps.js"></script>
