<div id="wrapper">
    <%= render "layouts/header_top" %>
    <div class="clearfix"></div>
    <%= render "header_search" %>
    <%= render "wmur" %>
    <%= render "how_it_works" %>
    <%= render "platform" %>
    <%= render "last_section" %>
    <%= render "layouts/footer" %>
    <div id="backtotop"><a href="#"></a></div>
</div>
