<div class="calendar-links">
  <p class="previous-month-link">
    <%= link_to "Previous", start_date: previous_month %> <span><%= I18n.t( "date.month_names" )[ find_month ] %> <%= find_year %></span> <%= link_to "Next", start_date: next_month %>
  </p>
</div>

<div class="cal-holder">
  <table style="margin:0 auto">
    <thead>
      <tr>
        <% get_date_range.slice( 0, 7 ).each do | day | %>
          <th class="adjust-cal-head"><%= I18n.t( "date.abbr_day_names" )[ day.wday ] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% get_date_range.each_slice( 7 ) do | week | %>
      <tr>
        <% week.each do | day | %>
        <td class="adjust-cal-date">
          <% if diem_events( day ) == 0 %>
            <% if day == Date.today %>
              <a href="#" class="all-dates todays-date <%= day %>"><%= day.strftime( "%d" ) %></a>
            <% elsif day < Date.today %>
              <a href="#" class="all-dates not-available-date <%= day %>"><%= day.strftime( "%d" ) %></a>
            <% else %>
              <a href="#" class="all-dates <%= day %>"><%= day.strftime( "%d" ) %></a>
            <% end %>
          <% else %>
            <a href="#" class="all-dates event-available <%= day %>"><%= day.strftime( "%d" ) %></a>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $( ".all-dates" ).on( "click", function( e ) {
    e.preventDefault();
    var thisDate = e.target.className.split( " " );
    var properDateString = thisDate[ thisDate.length - 1 ];
    var data = "availability=" + properDateString;

    var checkAttr = $( e.target ).hasClass( "event-available" );

    if ( checkAttr ) {
      $( e.target ).removeClass( "event-available" );
    } else {
      $( e.target ).addClass( "event-available" );
    }


    $.ajax({
      type: 'get',
      url: '/create-availability',
      data: data
    });
  });
</script>
