<div id="wrapper">
  <%= render "layouts/header_top" %>
  <%= render "header" %>
  <div class="clearfix"></div>
  <div class="container padding-bottom-50">
    <div class="row">
      <%= render "find_us" %>
      <div class="col-md-8">
        <%= render "contact_form" %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
