<header id="header-container">
    <div id="header">
        <div class="container">
            <div class="left-side">
                <div id="logo">
                    <%= link_to root_path do %>
                      <%= image_tag "logo.png" %>
                    <% end %>
                </div>
                <div class="menu-responsive">
                    <i class="fa fa-reorder menu-trigger"></i>
                </div>
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li>
                          <%= link_to "Home", root_path, class: active_class( link_to root_url ) %>
                        </li>
                        <li>
                          <%= link_to "How It Works", info_path, class: active_class( link_to info_url ) %>
                        </li>
                        <li>
                          <%= link_to "Contact", contact_path, class: active_class( link_to contact_url ) %>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div class="right-side">
                <div class="header-widget">
                    <% if user_signed_in? %>
                      <%= link_to user_path( current_user ), class: "button border with-icon" do %>
                        My Dashboard &nbsp;<i class="sl sl-icon-login"></i>
                      <% end %>
                    <% else %>
                      <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim button border with-icon">Sign In &nbsp;<i class="sl sl-icon-login"></i></a>
                      <a href="#sign-up-dialog" class="sign-up popup-with-zoom-anim button with-icon">Sign Up &nbsp;<i class="sl sl-icon-user"></i></a>
                    <% end %>
                </div>
            </div>
            <%= render "layouts/sign_in" %>
            <%= render "layouts/sign_up" %>
        </div>
    </div>
</header>
